In [1]:
from sklearn.model_selection import train_test_split, RepeatedKFold, KFold, cross_val_score
from sklearn import svm, metrics
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from numpy import mean, std
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>.output_result { max-width:100% !important; }</style>"))

In [3]:
data = pd.read_csv(r'C:\Users\mrome\Documents\School\SPRING 2021\INTRO TO AI\task4_classification\heart_failure_CR.csv')

In [4]:
data.head()    ##prints out the top 5

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [5]:
X, y = data.iloc[:, :-1], data.iloc[:, -1:]       ##separating the data from the last column,
X.shape, y.shape

((299, 12), (299, 1))

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25, random_state = 109) ##x,y,test_size, rs
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((224, 12), (75, 12), (224, 1), (75, 1))

In [7]:
min_max_scaler = MinMaxScaler()

Transforming all 4 of the split data to have 0 to 1 values//

In [8]:
X_train_minmax = min_max_scaler.fit_transform(X_train)
X_train_minmax.shape

(224, 12)

In [9]:
X_test_minmax = min_max_scaler.fit_transform(X_test)
X_test_minmax.shape

(75, 12)

In [10]:
y_test_minmax = min_max_scaler.fit_transform(y_test)
y_test_minmax.shape

(75, 1)

In [11]:
y_train_minmax = min_max_scaler.fit_transform(y_train)
y_train_minmax.shape

(224, 1)

In [12]:
y_train_minmax = y_train_minmax.ravel()

Creating all the classifiers

1) SVM - Linear classifier

In [61]:
svm_classifier_1 = svm.SVC(kernel = 'linear')

In [62]:
svm_classifier_1.fit(X_train_minmax, y_train_minmax)
y_pred = svm_classifier_1.predict(X_test_minmax)

In [63]:
print("acurracy", metrics.accuracy_score(y_test, y_pred))

acurracy 0.8133333333333334

2) SVM - Polynomial classifier

In [84]:
svm_classifier_2 = svm.SVC(kernel='rbf') ##rbf/precomputed/poly

In [85]:
svm_classifier_2.fit(X_train_minmax, y_train_minmax)
y_pred = svm_classifier_2.predict(X_test_minmax)

In [86]:
print("accuracy", metrics.accuracy_score(y_test, y_pred))

accuracy 0.7466666666666667

3) MLP - ReLU classifier

In [87]:
mlp_classifier_1 = MLPClassifier(learning_rate='adaptive', activation='relu', random_state=100, max_iter=5000)

In [88]:
mlp_classifier_1.fit(X_train_minmax, y_train_minmax)

MLPClassifier(learning_rate='adaptive', max_iter=5000, random_state=100)

In [89]:
y_pred = mlp_classifier_1.predict(X_test_minmax)

In [90]:
print("accuracy", metrics.accuracy_score(y_test, y_pred))

accuracy 0.8266666666666667

4) MLP - linear

In [91]:
mlp_classifier_2 = MLPClassifier(learning_rate='adaptive', activation='logistic', random_state=100, max_iter=5000)

In [92]:
mlp_classifier_2.fit(X_train_minmax, y_train_minmax)

MLPClassifier(activation='logistic', learning_rate='adaptive', max_iter=5000,
              random_state=100)

In [93]:
y_pred = mlp_classifier_2.predict(X_test_minmax)

In [94]:
print("accuracy", metrics.accuracy_score(y_test, y_pred))

accuracy 0.7733333333333333

In [95]:
cv = KFold(n_splits = 10, random_state=18, shuffle=True)

In [96]:
scores_1 = cross_val_score(svm_classifier_1, X,y, scoring = 'accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(scores_1), std(scores_1)))

scores_2 = cross_val_score(svm_classifier_2, X,y, scoring = 'accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(scores_2), std(scores_2)))

scores_3 = cross_val_score(mlp_classifier_1, X,y, scoring = 'accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(scores_3), std(scores_3)))

scores_4 = cross_val_score(mlp_classifier_2, X,y, scoring = 'accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(scores_4), std(scores_4)))

Accuracy: 0.800 (0.085)
Accuracy: 0.679 (0.066)
Accuracy: 0.676 (0.067)
Accuracy: 0.679 (0.066)